.navBar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 4%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(to bottom, #141414, rgba(128, 128, 128, 0.01));
  // background: transparent;

  .subSectionOne {
    display: flex;
    align-items: center;
    gap: 18px;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
    .netflixLogo {
      margin-right: 27px;
      height: 26px;
      object-fit: contain;
    }
  }
  .subSectionTwo {
    display: flex;
    align-items: center;
    gap: 18px;
    a,
    img {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .userProfile {
    height: 32px;
    object-fit: contain;
  }
}
